body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color:#ffa4b6;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #1c0b0b;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ffa4b6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

section {
    padding: 40px 0;
    background-color: #f0e0ba;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content img.profile-pic {
    border-radius: 50%;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-content .about-text {
    max-width: 600px;
    font-size: 1.2em;
}

.about-content .about-text p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul li:hover {
    background-color: #ffa4b6;
    color: #fff;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(45% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-item h3 {
    margin-top: 0;
    color: #333;
}

.project-item p {
    margin: 10px 0;
    font-size: 1em;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    padding: 10px;
    font-size: 2em;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.social-links a:hover {
    transform: scale(1.1);
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-instagram {
    background: #e41057;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
